[2020-09-25 04:25] chriswalz opened #1 "Demo Images"
<img width="502" alt="Screen Shot 2020-09-25 at 12 17 12 AM" src="https://user-images.githubusercontent.com/6971318/94226425-9597fe00-fec5-11ea-958a-d5beba7ae947.png">
<img width="738" alt="Screen Shot 2020-09-25 at 12 19 07 AM" src="https://user-images.githubusercontent.com/6971318/94226426-96309480-fec5-11ea-929f-34551c5356dd.png">
<img width="598" alt="Screen Shot 2020-09-25 at 12 20 24 AM" src

[2020-09-25 04:26] #1 closed

[2020-10-06 00:08] chriswalz commented on #1
![bitcheckout](https://user-images.githubusercontent.com/6971318/95144359-765f6300-0746-11eb-9a09-26a74e48df7d.gif)

[2020-10-06 00:20] chriswalz commented on #1
![Uploading bitcheckout2.gif…]()

[2020-10-06 01:14] chriswalz commented on #1
![bit-checkout-2](https://user-images.githubusercontent.com/6971318/95147815-cd1d6a80-074f-11eb-8265-56466ac628f8.gif)

[2020-10-06 04:11] chriswalz commented on #1
![bit-common](https://user-images.githubusercontent.com/6971318/95157964-6eb0b600-0768-11eb-8f8a-075e2987fde8.gif)
![bit-release-bump](https://user-images.githubusercontent.com/6971318/95157973-753f2d80-0768-11eb-8ef6-31239c76d305.gif)

[2020-10-06 04:21] chriswalz commented on #1
![bit-info](https://user-images.githubusercontent.com/6971318/95158539-d7e4f900-0769-11eb-8530-9ffc4610a71a.gif)

[2020-10-06 07:24] aditya520 opened #2 "runtime error: index out of range [1] with length 1"
Tried installing using curl commands, installed successfully.
While testing `bit` I got
[code]

[2020-10-06 16:38] chriswalz commented on #2
What OS and Terminal are you using? It seems like the `git help -a` command that bit runs isn't returning anything. If you run `git help -a` does that work?

[2020-10-06 18:38] aditya520 commented on #2
I am using Ubuntu 18.04 LTS.
`git help -a` gives me
[code]

[2020-10-06 20:23] chriswalz commented on #2
Thanks for letting me know. I've updated the code and tested it on an Ubuntu machine. It should work now

[2020-10-06 22:59] #2 closed

[2020-10-07 07:27] faizalpribadi opened #3 "bitcomplete not working properly"
Hi @chriswalz,

after installing `bit` and `bitcomplete` too, bit completion not working properly ( panic goroutine ), any idea ?

<img width="1792" alt="Screen Shot 2020-10-07 at 14 25 14" src="https://user-images.githubusercontent.com/1262414/95300287-2816a500-08a9-11eb-88d6-3394d56e47bd.png">

[2020-10-07 08:21] reflog commented on #3
Similar problem here, doing 'bit TAB' prints:
[code]

[2020-10-07 08:28] reflog opened #4 "extras don't seem to work"
Hi!
First of all - bit seems really awesome! Love the new workflow.

Tried using the extras, having some issues:

[code]

[code]

[2020-10-07 12:39] duckunix opened #5 "Please provide another install method than curl | sh"
Please update the README with alternative install instructions.

curl <uri> | sh is not really secure, automatable, or auditable.

Thank you

[2020-10-07 13:25] kapteynpeter opened #6 "Install issues for windows"
Looks like should support windows, but the install instructions haven't been working for me.
[code]

using git bash on windows 10

[2020-10-07 14:23] chriswwalz commented on #5
Any suggestions for good alternatives? [goreleaser](https://github.com/goreleaser/goreleaser) seems solid

[2020-10-07 14:27] mcarifio commented on #3
bit could be useful, so I hope I can get it working to understand it better. Not trying to pile on here.

I think I get the same error, but I get a different error message so I thought I'd add the additional message(s) in hopes they might help:

[code]

[2020-10-07 14:47] duckunix commented on #5
I am not a Go developer, so I do not know the normal Go tools, but other Go projects I follow use `go get -u`.  An example is over at https://github.com/skx/rss2email

[2020-10-07 16:47] chriswalz commented on #3
@mcarifio

`COMP_INSTALL=1 bitcomplete` should only be run once during installation. After just use `bit`.

There may be an issue with inconsistencies across OSs around how commands output information.

Do you mind posting the output for this command

`git config --get-regexp alias`

[2020-10-07 16:49] chriswalz commented on #3
@reflog what OS are you on? It seems like when running `COMP_INSTALL=1 bitcomplete` it didn't accept the environment variable

@faizalpribadi same question for you.

Hopefully we'll get it sorted out soon

[2020-10-07 17:07] chriswalz commented on #6
I'll be working on getting Windows better supported over the next couple of days

- with that said you can install it this way

## Windows Installation
[Install Go](https://golang.org/dl/)
`go get -u github.com/chriswalz/bit;`

Bash Tab completion is not yet support for Windows

[2020-10-07 17:14] kapteynpeter commented on #6
Thanks for the response!

This is a sweet project. Saw it on tldr this morning.

[2020-10-07 17:31] chriswalz commented on #5
Closed via 6075b951139eca410a9408d1e301d4363c5c285b

[2020-10-07 17:31] #5 closed

[2020-10-07 17:34] duckunix commented on #5
Thank you!

[2020-10-07 17:37] duckunix opened #8 "bitcomplete not installing via go get"
Thanks for adding this method, however:

[code]

[2020-10-07 19:06] mcarifio commented on #3
[code]
Note that consistent with recent versions of Ubuntu, I installed `go` using [`snap`](https://snapcraft.io/docs). As long as I use `go env`, for various locations, all is well. In particular `go env GOPATH` is typically `$HOME/go`, in my case `/home/mcarifio/go`. You can also install go using the more conventional `apt install golang`. It changes various file locations and it's an older vers

[2020-10-07 23:05] chriswalz commented on #6
@kapteynpeter Can you send me a link? I haven't heard of tldr

Let me know if you run into any other issues

[2020-10-07 23:06] chriswalz commented on #8
I haven't quite figured out why this is happening. It's something to do with not having the repo cloned locally...

[2020-10-07 23:18] kapteynpeter commented on #6
Yeah it's like a tech news daily email.

![Screenshot_20201007-191605.jpg](https://user-images.githubusercontent.com/55260531/95397675-d1719100-08d1-11eb-9602-962ff4c7ef86.jpg)

I don't have a link but it's pretty big.

[2020-10-07 23:21] chriswalz commented on #3
@mcarifio I haven't been able to replicate the issue but that one line with a single quote seems suspect. I made a small change that hopefully would do a better job of filtering out lines like that. Perhaps removing that line from the config would be worth it.

[code]

[2020-10-07 23:21] #6 closed

[2020-10-08 06:32] faizalpribadi commented on #3
Hi @chriswalz ,

`OSX Mojave`
`Iterm2`
`go version go1.15.2 darwin/amd64`

[2020-10-08 06:45] sarathsp06 commented on #8
It could happen if you do not have "GO111MODULE=on" , can you try with that ?

[2020-10-08 07:37] reflog commented on #3
@chriswalz seems completion works in bash, but not in fish (I guess that was to be expected :) )

[2020-10-08 07:49] roeniss opened #9 "Install Enhancement : brew install bit"
actually, `bit` is taken already : https://formulae.brew.sh/formula/bit

but still we can get some brew integration.

I suggested this idea because I prefer to use Homebrew package management.

[2020-10-08 07:51] roeniss commented on #9
if this makes sense please reply. I think i can make it even though i never did such a stuff.

[2020-10-08 08:06] alexmojaki commented on #3
Similar error to OP:

[code]

`git config --get-regexp alias` displays nothing.

Using zsh with oh-my-zsh on Ubuntu 18.04.

In bash I just get:

[code]

No amount of further tabbing changes anything.

[2020-10-08 10:58] MrGreenTea opened #10 "bit switch crashes when providing no name"
I get this:
[code]

Some info:
[code]

[2020-10-08 15:17] chriswalz commented on #8
I believe this is the correct solution and I had updated the README. This solution only works for non windows machines however

[2020-10-08 16:06] sarathsp06 commented on #10
@chriswalz looks like the issue is here, the project looks pretty interesting I shall work on this

[2020-10-08 16:23] ryanpcmcquen opened #11 "Update process?"
When using the curl install method, what is the planned upgrade path for new versions of `bit`? Just re-running that?

[2020-10-08 16:29] chriswalz commented on #11
Yep just rerun the curl command

[2020-10-08 16:34] chriswalz commented on #10
Great I think it's a matter of only entering that `if` statement if args > 1

Down the road I'll make it so that it will show branch suggestions if you type `bit switch` then <ENTER>

[2020-10-08 17:06] ryanpcmcquen commented on #11
Since I use Nushell, I just do this:
```bash -c "curl -sf https://gobinaries.com/chriswalz/bit | sh; curl -sf https://gobinaries.com/chriswalz/bit/bitcomplete | sh && echo y | COMP_INSTALL=1 bitcomplete"```

[2020-10-08 17:06] #11 closed

[2020-10-08 17:10] duckunix commented on #8
Verified and that works for me now.  Cheers

[2020-10-08 17:10] #8 closed

[2020-10-08 20:02] #10 closed

[2020-10-08 20:21] ryanpcmcquen commented on #3
I think this is the same error ...
[code]

[2020-10-08 20:24] ryanpcmcquen commented on #11
@chriswalz, should we update the README to use that command since it is a bit more shell agnostic?

[2020-10-08 22:59] MrGreenTea commented on #10
That's actually what I was expecting to happen :)
Thanks for the quick reply and fix!

[2020-10-09 16:43] chriswalz commented on #3
I believe this issue is now resolved. Please update bit & bitcomplete. If you're still having issue (some of you may) please file another issue

[2020-10-09 16:43] #3 closed

[2020-10-09 16:45] chriswalz commented on #10
@MrGreenTea `bit switch` `bit checkout` `bit co` will now show a list of branches

[2020-10-09 16:45] chriswalz commented on #10
<img width="696" alt="Screen Shot 2020-10-09 at 12 45 24 PM" src="https://user-images.githubusercontent.com/6971318/95609813-57eeb580-0a2d-11eb-8e9e-5a8b3fa11ec4.png">

[2020-10-09 16:48] chriswalz commented on #9
So would we need something like `bitcli`?

[2020-10-09 16:50] ryanpcmcquen commented on #3
@chriswalz, having trouble updating:
[code]

[2020-10-09 16:56] chriswalz commented on #3
Looks like gobinaries.com is down

[2020-10-09 17:03] chriswalz commented on #3
Seems to be working now

[2020-10-09 17:04] ryanpcmcquen commented on #3
0.5.2 works, thank you @chriswalz!

[2020-10-09 17:04] ryanpcmcquen opened #13 "runtime error: slice bounds out of range [-1:]"
I get this on some of my git repos:
[code]

[2020-10-09 17:15] chriswalz commented on #13
Let me know if there's anything special about the commit dates for those repo's as I believe it's something related to that.

I pushed a hacky-ish work around for the out of bounds issue

[2020-10-09 17:22] ryanpcmcquen commented on #13
@chriswalz, here are some examples:
[code]

[2020-10-09 17:23] chriswalz commented on #9
Cool, let's use `bit` then with taps.  If there's anything I need to do on my end let me know.

If there's any sort of account creation etc. I'd like to control those aspects of course

[2020-10-09 17:23] ryanpcmcquen commented on #13
Oldest commit:
[code]

[2020-10-09 17:24] ryanpcmcquen commented on #13
The issue persists with 0.5.3:
[code]

[2020-10-09 17:25] roeniss commented on #9
cool. of course you deserve it. I'll report a progress in a week.

[2020-10-09 17:27] chriswalz commented on #13
So this command is used behind the scenes

git for-each-ref --sort=-committerdate refs/heads/, refs/remotes --format='%(authordate:short); %(authorname); %(color:red)%(objectname:short); %(color:yellow)%(refname:short)%(color:reset); (%(color:green)%(committerdate:relative)%(color:reset))'

If you could show me the difference between a failing vs working repo that'd be perfect

[2020-10-09 17:36] ryanpcmcquen commented on #13
Broken:
[code]
Working:
[code]

[2020-10-09 17:38] ryanpcmcquen commented on #13
Somehow HEAD got jacked, so I fixed that warning with this:
[code]
And now `bit` works as expected, _but_, maybe you want to handle that warning more gracefully?

[2020-10-09 23:52] chriswalz commented on #13
fixed with 09c6ea141f7e26ec89ab335e6b60bbc343ba7126

[2020-10-09 23:52] #13 closed

[2020-10-10 08:17] roeniss opened #14 "unclear use of "latest release""
at [release page](https://github.com/chriswalz/bit/releases) `v0.4.19` seems latest version.

but when I type `curl -sf https://gobinaries.com/chriswalz/bit | sh` as README suggested, it downloaded `v0.5.4`.

Looks like at least one of them should be fixed -- changing the download link at gobinaries.com and/or changing latest release version

[2020-10-10 08:43] roeniss commented on #9
@chriswalz `bit` is released to gobinaries.com by goreleaser automatically, right?

If so, I'll integrate brew deployment cycle with goreleaser too after I tested manual way

[2020-10-10 12:39] chriswalz commented on #14
The way gobinaries.com works is it uses the latest tag which is v0.5.4. Which is the most current version.

I was having some issues with goreleaser which is why the RELEASE Is behind.

With that said I intend to use goreleaser as the primary means of releasing.

Another important note is there are two binaries. It's unclear how to integrate with a sub package binary (/bitcomplete)

[2020-10-10 14:01] roeniss commented on #14
you mean 0.5.4 is currently 'right' version to use? If so, why domt you make repo releasw version be 0.5.4

[2020-10-10 14:04] roeniss commented on #14
(I dont intend to blame you @. Im just wondering whats going on lol)

[2020-10-10 14:36] chriswalz commented on #14
We should. I can do it on Monday as I’m busy this weekend

[2020-10-10 19:44] fsmiamoto commented on #4
I'm experiencing different but related issues:
[code]
I supposed this is related to some of the provided scripts being dependent on other ones from `git-extras`.

[2020-10-10 23:18] chriswalz commented on #4
This will get resolved in the week or so

[2020-10-12 02:08] chriswalz commented on #14
I updated the release @roeniss

[2020-10-12 02:20] chriswalz opened #15 "Feature: bit sync should provide multiple options for handling a diverged branch"
Right now the only option is a force push. Rebasing and merging should be options as well.

[2020-10-12 02:21] chriswalz opened #16 "Feature: When a user deletes a local tag ask if they want to delete the origin tag as well"
git tag --delete <tagName> has given me headaches many times for this

[2020-10-12 02:38] chriswalz opened #17 "Feature: add bit aliases that can be written in Go"
Since Go is a compiled language this seems rather challenging. However there are a couple of potential options

- Using https://github.com/traefik/yaegi Go is now an interpreted language 💯
- go plugins (probably not)

[2020-10-12 02:39] #14 closed

[2020-10-12 03:46] chriswalz commented on #4
mostly fixed by dbab04a39

[2020-10-12 05:08] herbygillot opened #19 "Incorrect version reported by --version flag"
After building `bit` from the latest version (`v0.5.6`), `bit --version` reports `0.4.17`....?

[2020-10-12 05:15] chriswalz commented on #19
Good catch. Still haven't setup putting in versioning in at compile time. Fixed with bae362be2ca0469660da4b65156706f91922dce6

[2020-10-12 05:15] #19 closed

[2020-10-12 05:16] tsujp commented on #9
Would you guys need hosting for the tap? If so I volunteer as tribute.

[2020-10-12 05:20] jyn514 opened #20 "'Command may not exist' for commands that do exist"
(sorry, posted a little early)

[code]

[2020-10-12 05:21] jyn514 commented on #20
Same error for `bit -h`:
[code]

[2020-10-12 05:25] chriswalz commented on #20
What happens when you run `git pull` in the same directory?

Right now `bit -h` doesn't work but you can use `bit help` see all bit specific commands

[2020-10-12 05:25] jyn514 opened #21 "`bit info` is very verbose"
This makes it hard to read the important points. Maybe this could be trimmed down to only the remote and recent commits? Or make the info configurable with flags, so that you have to pass `-a` to see it all?

[code]

[2020-10-12 05:27] jyn514 commented on #20
Right, `git pull` also gives an error - my bug report is not that bit is giving an error, but that it's giving an _additional_ error on top of `git pull`.

[2020-10-12 05:30] jyn514 opened #22 "What does 'bit release' do?"
'Generate a production release' doesn't say very much. Here is the output from running `bit release` offline:

[code]
If `bit` is going to perform arbitrary git operations, I'd like to at least know what they are.

[2020-10-12 05:30] chriswalz commented on #20
Ah understood. Thanks

[2020-10-12 05:38] chriswalz commented on #22
Examples for until the docs are updated

Usage: `bit release bump`: this command commits any changes (except untracked), bumps the minor tag the branch according to SemVer e.g. v0.1.2 -> v0.1.3) and pushes

Usage 2: `bit release v0.6.0` -> this would do the same as above except the tag would be v0.6.0.

[2020-10-12 05:40] jyn514 opened #23 "Feature request: more completions!"
Some commands I use often that aren't currently suggested (or need 90% of the typing to be suggested):

- `git rebase -i $(git merge-base HEAD master)` - this one is a stretch
- `git rebase -i master` - bit will not complete `master`, you have to type it in yourself
- `git status` - for some reason typing `st` shows `pull --rebase origin master` before commands starting with st?
- `git show` - sam

[2020-10-12 05:41] jyn514 commented on #22
Does it also push tags?

[2020-10-12 05:43] chriswalz commented on #22
yep both the commit and tags

[2020-10-12 05:45] jyn514 opened #24 "Feature request: be more like readline"
I'd expect the following behavior that isn't currently present:

- ctrl+c should clear the input buffer, not exit completely
- alt+left/alt+right should go back and forward a word. I think this is specific to my .inputrc; in that case the feature request changes to 'read inputrc' :P
- more readline keybindings; in particular `ctrl+o` will run the current command without clearing the input buffer

[2020-10-12 05:46] jyn514 opened #25 "Alt+left/alt+right mess up the input buffer"
[code]

[2020-10-12 05:58] chriswalz commented on #21
we can probably change this to `bit extra info`, `bit extra effort` etc. since this is actually running 3 separate commands

[2020-10-12 05:58] #4 closed

[2020-10-12 06:06] chriswalz commented on #20
fixed with 97097dc6c4408dc59b687594aaa72a3528053778

[2020-10-12 06:06] #20 closed

[2020-10-12 06:07] jyn514 commented on #21
Another way to trim this down: don't show remote branches with the same name as local branches (maybe make the old behavior opt-in).

[2020-10-12 06:11] jyn514 opened #26 "Feature request: `bit squash`"
Like `git rebase -i`, but the prompt it opens up has all but the first commit set to `squash` instead of `pick` by default. Maybe it could have both an interactive and non-interactive mode? By 'interactive' I just mean 'opens the rebase prompt in your editor', like git.

[2020-10-12 06:31] 0cv opened #27 "Errors hen using arrows to navigate the autocompletion menu"
For example with `bit checkout ...`
![image](https://user-images.githubusercontent.com/1253866/95712284-cff2f080-0c64-11eb-9df7-a9f14322eeff.png)

Then when the last selection is hit it looks like this and the selection is blocked:
![image](https://user-images.githubusercontent.com/1253866/95712116-7a1e4880-0c64-11eb-92bc-f7756fad92a3.png)

Under certain circumstances (when coming back and forth,

[2020-10-12 06:38] chriswalz commented on #27
What OS/Terminal/Shell are you using?

[2020-10-12 06:41] Surendrajat opened #28 "Crash on pressing tab for autocompletion"
Installed using curl, cd project, bit [tab] & crash
[code]
OS: ubuntu 18.04
SHELL: zsh 5.4.2
Terminal: tilix/guake-terminal/io.elementary.terminal

[2020-10-12 06:46] 0cv commented on #27
You're right, I didn't realize it could be related to my Terminal and/or Shell. I was using the Terminal of VSCode. I'm using also iTerm with ZSH in OSX and it works including the default Terminal.app. But it fails with the embedded terminal of Code =>

![image](https://user-images.githubusercontent.com/1253866/95713688-45f85700-0c67-11eb-8531-0e7df9db0323.png)

[2020-10-12 06:54] switz commented on #3
Still seeing this on os x + fish shell + iterm:

[code]

version:

[code]

[2020-10-12 07:06] tuananh opened #29 "Windows: cannot delete typed characters"
version: install with go
terminal: Windows Powershell with Windows Terminal app
os: windows 10

## steps to reproduce

[code]

[2020-10-12 07:24] ryanpcmcquen commented on #28
This looks similar to #3 and #13.

[2020-10-12 08:43] chris-aeviator opened #30 "Autocompletion menu not appearing in zsh"
I've installed "the hard way", can confirm bit works, but the autocomplettion menu will just not appear.

Arch linux
❯ zsh --version
zsh 5.8 (x86_64-pc-linux-gnu)

[2020-10-12 09:15] pietrovismara commented on #30
Same issue in Linux Mint with terminator 1.91

[2020-10-12 11:55] SolKuczala commented on #22
Hi, as I didn't find any other place to reach you out, I would like to ask you if for this issue it needs to have more details in the short description in the cmd package or is something else. Also, as I didn't find documentation about how to contribute, I would like to know how to build the binary on my machine (go run main.go or something else?) to see the changes. Thank you :)

[2020-10-12 12:49] notAmine commented on #28
I can confirm having the same issue, I'm running Ubuntu 18.04.5 & ZSH (Oh-my-zsh)

`me@laptop  ~/projects/project   branch-name  bit panic: runtime error: slice bounds out of range [:5] with length 4

goroutine 1 [running]:
github.com/posener/complete/v2.Complete(0x65e967, 0x3, 0x6d3c20, 0xc0001f5100)
	/go/pkg/mod/github.com/posener/complete/v2@v2.0.1-alpha.12/complete.go:83 +0x514
github.com/

[2020-10-12 14:10] Surendrajat commented on #28
@ryanpcmcquen it's the same issue reported in #3 (first comment). However, it's still not working even though #3 is closed.

[2020-10-12 14:12] howdoicomputer commented on #3
Also showing up here for fish shell / gnome terminal/ arch:

[code]

[2020-10-12 14:24] chriswalz commented on #30
To clarify, if you type `bit` and then press <enter> do suggestions show? Or are you referring to classical command tab completion?

[2020-10-12 14:30] NightMachinary commented on #30
It doesn't work for either; I'm using Aloxaf/fzf-tab though.
![image](https://user-images.githubusercontent.com/36224762/95757936-a366c500-0cb4-11eb-9cd9-22c25ff9a0fb.png)

- No description of the options
- `-all` instead of `--all`

[2020-10-12 14:54] pharrisee commented on #3
for the fish shell I had to set a universal exported envvar:

set -Ux COMP_POINT 1

After this bit completion no longer crashes and shows completions.

[2020-10-12 15:07] nanohard commented on #24
I fully expect every command line program to exit with ^C, as it is the default SIGINT to exit/break.

[2020-10-12 15:08] chriswalz commented on #28
@sarathsp06 @notAmine thanks for filing the issue however I'm having trouble replicating this. Can you update to the most recent version (simply rerun install commands). Then run `bit --version` make sure you run it inside a repo.

[2020-10-12 15:10] jyn514 commented on #24
I expect command line programs that *I'm* waiting on to exit on ^C - I'm interrupting the computation. I expect command line programs that are waiting on *me* to reset on ^C - I'm interrupting my input.

[2020-10-12 15:14] nanohard commented on #24
Ahhhh! Now I get you: my mistake. Yeah, that sounds like a good feature.

[2020-10-12 15:25] mhogerheijde opened #33 "`bit sync` assumes remote is named `origin`, override doesn't work"
I (almost) always rename the original remote repository `upstream`.

When I create a new repository that does not have a remote called origin:

[code]

Which is to be expected, since `git` itself also doesn't know. But I cannot tell `bit` to use a different `upstream`.

When I set an upstream repo for the `master` branch

[code]

Everything works as expected.

The `--help` output hints at that you

[2020-10-12 15:56] MsBarber commented on #29
I am also using Windows 10 OS.
I am using the Windows Terminal App, in the Powershell tab.

Only potential difference is that I am using WSL (Ubuntu 18.04). Bit (which is amazing) works properly for me.

I can try installing it on Windows instead of WSL later today and report back if I experience the same issue.

[2020-10-12 16:28] chriswalz opened #34 "Feature: Show relative and absolute date when displaying branch suggestions"

[2020-10-12 16:30] chriswalz commented on #9
@tsujp I'm not familar with the process – why is hosting necessary? My cursory reading made it seem to me like we would need a git repo only

[2020-10-12 16:31] chriswalz commented on #29
@tuananh This one may take a while to solve and I would appreciate help on this front since I'm pretty confident this is bug in [go-prompt](https://github.com/c-bata/go-prompt) the library bit uses to display suggestions

[2020-10-12 17:05] edoreld opened #35 "Interactive prompt completion does not display suggestions"
I'm using macOS Catalina (10.15.7) and iTerm2 (3.3.2)

I installed `bit` through cURL:

[code]

Autocompletion works but interactive suggestions don't show. Any ideas?

[2020-10-12 17:13] chriswalz commented on #35
Type "bit" and press enter

Or "bit checkout" and press enter

[2020-10-12 17:21] wookayin commented on #24
+1. Having emacs-like readline keybinding would be great, e.g. CTRL-A, CTRL-E, CTRL-U, etc. Even better if it supports `inputrc`.

[2020-10-12 17:34] pietrovismara commented on #30
@chriswalz sorry for the noise, it actually works fine for me now.

[2020-10-12 17:43] chriswalz commented on #30
@pietrovismara what did you change/fix to make it work?

[2020-10-12 17:57] edoreld commented on #35
Thanks, it works.

[2020-10-12 18:34] bransonf opened #36 "WSL Support - Verified"
Found this on Hackernews and promised to check in. It does in fact work, including autocompletion, on WSL2 with Ubuntu 20.04.1 LTS, kernel 4.19.104, with the Windows terminal app.

In fact, this is preferable to `cmd` which I currently experience the same issue as #29

[2020-10-12 18:36] #36 closed

[2020-10-12 18:36] chriswalz commented on #36
Woot, I'll update the readme. Thanks!

[2020-10-12 19:28] #35 closed

[2020-10-12 20:53] notAmine commented on #28
I installed the tool today:
bit version v0.5.6
git version 2.17.1

[2020-10-12 20:56] notAmine commented on #28
I was able to reproduce this on the latest version as well

` ✘  ~/projects/code-detection   master ●  bit --version
bit version v0.5.10
git version 2.17.1

 ~/projects/code-detection   master ●  bit panic: runtime error: slice bounds out of range [:5] with length 4

goroutine 1 [running]:
github.com/posener/complete/v2.Complete(0x65e967, 0x3, 0x6d3c00, 0xc000223540)
	/go/pkg/mod/github.com

[2020-10-12 21:05] ryanpcmcquen commented on #28
@chriswalz, it'd be neat if there was a failure, if `bit` would log the `git` command that was being run. That ways users could try that and get better debug info on these kind of errors.

[2020-10-13 03:42] chriswalz commented on #22
@SolKuczala clone the repo & run `go run main.go`. I'm personally using go 1.15 but it should be fine with prior versions.

I'll try to get around to writing a contributing doc. Please let me know if you have any additional questions

[2020-10-13 04:34] chriswalz commented on #34
added with 859c9956df8edbb7f38f66b25db496eeb1aa9a9c

[2020-10-13 04:34] #34 closed

[2020-10-13 04:37] chriswalz commented on #22
@jyn514 updated `bit release` doc with 39d807e24c5be4fc081e29623ed09d0dd13d497c

[2020-10-13 04:37] #22 closed

[2020-10-13 04:38] chriswalz commented on #23
bit 39d807e24c5be4fc081e29623ed09d0dd13d497c will now:

- searches for suggestions based on prefix except for branches where it will do a "contains" filter
- shows branches for log & rebase

Future work:
git checkout <branch> -- file - bit will complete up to <branch> but not further
git checkout -p; git add -p - bit will not show -p in the initial list. This one is a stretch.
git worktree add - b

[2020-10-13 04:44] chriswalz commented on #24
You can now use emacs key binds with 14cb613e5091461df145a233e272357aee904027

running the current command without clearing the buffer is interesting. I'm curious of others would like that.

In terms of the behavior of ctrl + c. I personally prefer it to exit in this particular case since I think some people may get confused if they can't exit with ctrl + c. Depending on feedback I'm certainly ope

[2020-10-13 08:29] pietrovismara commented on #30
@chriswalz Not much, just rebooted my pc for unrelated reasons and bit was working fine after that.

[2020-10-13 08:48] edoreld opened #38 "Add support for git switch -c"
When I run `git switch -c branch-name`, I create a new branch.

When I run  `bit switch -c branch-name`, it said "Branch was fast-forwarded". I didn't create a new branch.

Can we make `bit switch -c branch-name` create a new branch?

[2020-10-13 09:56] Therealchainman opened #39 "invalid github.com/"
I am getting this error when I follow the hard method for getting bit on WSL1 for Windows 10.
golang 1.15.2
input
```sudo GO111MODULE=on go get github.com/chriswalz/bit@latest;```
I get permission denied if I don't sudo.
Output
```package github.com/chriswalz/bit@latest: invalid github.com/ import path "github.com/chriswalz/bit@latest"```

[2020-10-13 09:57] gensjaak opened #40 "Feature: Add support of gitmoji for commit messages"
Make `bit save` to propose directly emojis for commit messages.

https://github.com/carloscuesta/gitmoji
https://marketplace.visualstudio.com/items?itemName=Vtrois.gitmoji-vscode

[2020-10-13 11:21] edoreld commented on #38
I saw that you can just use `bit switch`

[2020-10-13 11:21] #38 closed

[2020-10-13 14:15] undefined-moe opened #41 "Bit requires a minimum Git version"
using the given install script(with curl)
ubuntu1604

![image](https://user-images.githubusercontent.com/29992205/95872606-8e1b9480-0da1-11eb-9e53-4ad4b7d0ee02.png)

[2020-10-13 15:13] sarathsp06 commented on #28
the issue is with a bug in the completion library used and it must be from here: https://github.com/posener/complete/pull/73

[2020-10-13 15:25] sarathsp06 commented on #28
You can reproduce this by passing a COMP_POINT env variable higher than length of COMP_LINE . You can see the same reproduced in the screen shot

![carbon](https://user-images.githubusercontent.com/964542/95880775-2a30a600-0d78-11eb-8258-f27561f65856.png)

The issue is from the completion library as noted above . These are what i can propose

- Use a  minor non-alpha version of the package (if pos

[2020-10-13 22:14] dawidd6 commented on #9
Yes, only a repository on GitHub is enough. Goreleaser supports publishing to a tap:
https://goreleaser.com/customization/homebrew/

[2020-10-13 23:22] chriswalz commented on #41
@undefined-moe can you send me the output of this command (ideally with whatever files were staged etc.)

`git status --porcelain=v2`

[2020-10-13 23:26] chriswalz commented on #9
Great. It would be nice to integrate with Goreleaser since we're already using that

[2020-10-13 23:38] chriswalz commented on #28
@sarathsp06 Thanks this helps. I'll fork the repo and play around with it. Do you mind going into a little bit more detail on the last bullet?

[2020-10-13 23:56] bbbbbr commented on #41
I'm seeing this as well. Just tried to install and run it for the first time.
Is there a minimum version of git required?
[code]

[2020-10-14 00:05] chriswalz commented on #41
@bbbbbr AH, yes looks like v2 isn't supported on your version so there appears to be an unintended minimum git version.

If it's okay with you, can you upgrade and let me know if it works?

[2020-10-14 00:18] roeniss commented on #9
you say you would help `bit` with coding `Goreleaser`, @dawidd6? What do you mean "hosting"?

[2020-10-14 01:16] chriswalz commented on #9
@roeniss in reference to this comment

Goreleaser and gobinaries.com are separate. I run Goreleaser locally and it uploads binaries to this page https://github.com/chriswalz/bit/releases

[2020-10-14 03:00] codingonHP commented on #29
I tried to reproduce this on my Windows 10 Enterprise (Version: 1909, OS Build: 18363.1139)
with Powershell running inside the Windows Terminal app
[code]
but couldn't. It works fine for me. I am able to correct my typos. Checked the same scenarios with `powershell`, `git bash` and `cmd` and it works fine there as well.

[2020-10-14 03:53] chriswalz commented on #28
So as of now I'm thinking I'll submit a PR that would force the COMP_POINT (index of the cursor on the) to be at most the size of the COMP_LINE (the currently typed in command)  .

This had me thnking how is it possible that the COMP_POINT is higher than the length of the COMP_LINE. Wouldn't this point to some sort of flaw in the Terminal/Shell

[2020-10-14 03:57] siva-sundar opened #42 "Getting runtime error"
Getting runtime error after running cmd `bit`.

System Software Overview:

      System Version: macOS 10.15.6 (19G73)
      Kernel Version: Darwin 19.6.0
      Boot Volume: Macintosh HD
      Boot Mode: Normal
      Secure Virtual Memory: Enabled
      System Integrity Protection: Enabled

![image](https://user-images.githubusercontent.com/15258941/95941847-56dbd080-0dff-11eb-83cd-fe737aeba16d.pn

[2020-10-14 04:01] veksha opened #43 "bit log"
bit log
Branch was fast-forwarded

is it a bug?

[2020-10-14 04:06] chriswalz commented on #28
Here's a PR. Can someone test it out https://github.com/chriswalz/bit/pull/44

[2020-10-14 04:08] chriswalz commented on #42
what version of git do you have?

[2020-10-14 04:11] chriswalz commented on #43
@veksha on certain commands bit will check to make your branch is up to date. It saw you were behind the upstream/origin branch and did a `git pull --ff-only`. So yes it's a feature. However if this is confusing or you think it should be changed in some way let me know

[2020-10-14 04:15] MichaelPFeldman opened #45 "Add autocomplete equation"
Note: 1 + 1 -> Autocomplete to equation

[2020-10-14 04:16] veksha commented on #43
@chriswalz the problem is that it never displays a log. additionally it triggers pull command even if my branch is up to date.

[2020-10-14 04:24] chriswalz commented on #43
Oh understood this is a bug

[2020-10-14 04:28] chriswalz commented on #43
fix ad6830f6d9b106386d4ac3139a8a992d51107bec

[2020-10-14 04:28] chriswalz commented on #43
(not released yet)

[2020-10-14 04:30] undefined-moe commented on #41
[code]

this version is provided by apt.
hoping to support.

[2020-10-14 04:44] chriswalz commented on #41
should be fixed with 1d4011a4677c4836f4114c6f26f491bb81d25fa5

[2020-10-14 04:44] chriswalz commented on #41
Please install again and lmk if it works

[2020-10-14 04:45] chriswalz commented on #43
@veksha should be fixed now. Please re-install

[2020-10-14 04:46] chriswalz commented on #42
Please re-install and it should be fixed

[2020-10-14 04:47] veksha commented on #43
@chriswalz it works now. thank you!

[2020-10-14 04:51] #43 closed

[2020-10-14 05:12] #42 closed

[2020-10-14 05:51] veksha opened #47 "`bit sync` buggy behaviour with non-English locale"
expected response: `nothing to save or commit`
actual response: `Please provide a description of your changes...`

<img src="https://user-images.githubusercontent.com/275333/95948260-e6ca4c00-0df8-11eb-9a40-e91fc07b8b5c.png" width="100px">

`LANG=en_EN.UTF-8 bit sync` -> OK
`LANG=ru_RU.UTF-8 bit sync`  -> not OK

therefore, `bit sync` -> not OK for me.

[2020-10-14 06:25] bbbbbr commented on #41
When used with a newer version of git the issue no longer manifests (2.7.4 -> 2.17.1).

However, I did the upgrade by way of a much belated OS upgrade (this was the a good prompt to finally do it. haha, a rather complicated way to get a new version of git i guess), so I can't be entirely certain that some other changes didn't contribute to resolving the issue. But most likely it was the newer vers

[2020-10-14 06:27] sarathsp06 commented on #28
@chriswalz  last bullet is #44
Tested and added  review comments, overall looks good to me :+1:

[2020-10-14 07:35] mhogerheijde commented on #33
Oh and if it matters:
[code]

[2020-10-14 08:42] sbmueller commented on #30
I have the same issue on zsh and bash.

[2020-10-14 13:20] #41 closed

[2020-10-14 13:53] chriswalz commented on #47
Thanks for filing this. Error is due to this line probably https://github.com/chriswalz/bit/blob/master/cmd/util.go#L94.

Perhaps its time to start leveraging go-git more https://github.com/go-git/go-git

[2020-10-14 13:55] chriswalz commented on #28
This commit 95323ac424aba276438463caa2922f2399ca0e24 should make the code handle this issue more gracefully in v0.6.0

[2020-10-14 14:07] undefined-moe commented on #41
git v2.7.4 now works. thanks

[2020-10-14 14:25] veksha commented on #47
[code]

i'm have zero skill in golang, but something like above code can be enough.
what do you think, @chriswalz

[2020-10-14 15:28] chriswalz commented on #30
@sbmueller just pushed a couple of updates.

Run `bit --version`

Can you run naked `bit` and show me the output

Also can you type `bit st` then press `<tab>` and show me the output

[2020-10-14 15:42] chriswalz commented on #47
@veksha Yes I get idea. I think that would work. Any ideas as to why `LANG=en_EN.UTF-8 git status` is still printing in english on my end? I'm trying to replicate the issue

[2020-10-14 21:09] chriswalz commented on #24
I'm gong to consider this issue done. Please file another issue if bit v0.6.1 is missing anything

[2020-10-14 21:09] #24 closed

[2020-10-14 21:10] #28 closed

[2020-10-14 21:21] chriswalz commented on #29
@tuananh I believe this is fixed now. Please verify on v0.6.1

[2020-10-14 21:21] #29 closed

[2020-10-14 21:31] chriswalz commented on #39
@Therealchainman Were you able to resolve this. There's not much I can do on my end. Any additional information you can provide?

[2020-10-14 22:10] chriswalz commented on #40
Can you go into more detail. How would this look when using `bit save`

[2020-10-14 22:19] jyn514 opened #48 "err: strconv.Atoi: parsing "": invalid syntax"
**Describe the bug**

`bitcomplete` errors instead of adding completions.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

`bitcomplete` installs completions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Terminal: LXTerminal
 - Shell: bash

**Additiona

[2020-10-14 22:21] jyn514 commented on #25
I am still seeing this error on master (`bit version v0.6.1`).

[2020-10-14 23:23] chriswalz commented on #48
Sorting out some tricky compatibility issues with `bitcomplete`. Mind giving the install a shot again? I pushed a hotfix v0.6.2

[2020-10-14 23:30] jyn514 commented on #48
That fixed it, thanks!

[2020-10-14 23:30] #48 closed

[2020-10-14 23:36] chriswalz commented on #25
@jyn514 boo, I've tested it on Mac and Ubuntu and seemed to work fine 🤔

[2020-10-14 23:49] jyn514 commented on #25
I have this in my .inputrc in case it makes a difference:

[code]

[2020-10-15 00:12] chriswalz commented on #25
That's likely the issue. This is how it's implemented.

[code]

Unclear what would be an elegant way to integrate `.inputrc` but it will be considered for future work

[2020-10-15 01:34] markruler opened #49 "any plans to support l10n?"
The difficulty of using git for the first time was that it was hard to read English explanations. It would be nice if bit would solve this. It will be good for beginners. (Perhaps the contributors will help translate)

[2020-10-15 01:37] markruler commented on #49
@chriswalz
😓 Sorry, It's not a bug. Please remove the label.

[2020-10-15 02:52] chriswalz commented on #49
Git provides translations. This issue #47 is related to non-english Git.

[2020-10-15 02:52] chriswalz commented on #49
Bit currently uses English Git so there is work to be done on that front

[2020-10-15 04:56] undefined-moe opened #50 "display issue"
![image](https://user-images.githubusercontent.com/29992205/96078733-bdd3b500-0ee5-11eb-8774-2c24017e901b.png)

zsh 5.1.1 (x86_64-ubuntu-linux-gnu)
ubuntu 1604
git 2.7.4
windows terminal 1.3.2651.0
font source-code-pro

[2020-10-15 07:24] chris-aeviator commented on #30
@chriswalz btw. `bit --version` will only work in a folder that contains a git repository

[2020-10-15 07:27] chris-aeviator commented on #30
I tried updating (the hardway), ended up with `bit --version` -> v.0.6.2.

downloaded from github releases
[code]

[2020-10-15 07:34] chris-aeviator commented on #30
re-opening since it only worked in the folder that I did a `git init` in order to have `bit --version` work. When changing to a already existing git folder, it will not show the autocompletion popup.

![grafik](https://user-images.githubusercontent.com/11522213/96091226-9ec72a00-0ec9-11eb-9474-f6049f23abfb.png)

[2020-10-15 07:40] chris-aeviator opened #51 "Bit --version should be callable in folders that do not have a `.git` folder inside"
**Describe the bug**
When running `bit --version` in a non-git folder
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install bit
2. create an arbitrary directory `mkdir /tmp/prettyArbitrary`
3. `cd /tmp/prettyArbitrary`
4. `bit --version`

**Expected behavior**
Bit should output it's version despite the folder it being run from is not a git folder

**Desktop (please complete the foll

[2020-10-15 11:56] Therealchainman commented on #39
I will try again today with Go version 1.12 I don't know if that will work though.  I believe this uses 1.15.
I suspect there is was something wrong with my GOPATH originally, which I've fixed so maybe it will work when I try 1.15.
Basically I had just installed Go and GOPATH points to $HOME/go, but this had same file structure as GOROOT.  I had to rm -r the directory and create go/{src,bin,pkg} t

[2020-10-15 12:32] hiukky opened #52 "problems with ssh"
**Describe the bug**
The bit is not working with repositories with access via ssh. When executing a checkout action on a branch for example, when entering my ssh password and confirming no success is obtained and no error either.

I tried with the same repository using https and had success when informing username and password performing the same action.

**To Reproduce**
Steps to reproduce the be

[2020-10-15 12:58] shiv6146 commented on #51
@chriswalz I have tried to fix this issue in my PR. Can you please review ? Thanks :+1:

[2020-10-15 14:56] imcvampire commented on #9
Hi? Any update?

[2020-10-15 15:15] sbmueller commented on #30
@chriswalz I was just trying on my home machine and realized I used `bit` wrong. I assumed the autocompletion menu appears already when typing `bit ` but I gotta run `bit` first to get the autocompletion.
I will test again next week on my work machine.

I have the same issue as @chris-aeviator with running `bit` outside a repository.

[2020-10-15 15:18] roeniss commented on #9
@chriswalz @dawidd6 @imcvampire and other thumb-uppers, sorry for late.

After a week, I found that this task is hard to me. My personal job has became serious more than I thought.

So I'll leave this task so other people can take this instead of me.

I will keep trying to do this until other comes up to help but not sure when it would be possible. Sorry for bad news.

[2020-10-15 15:48] opensas opened #54 "is there an option to show the git commands being executed?"
I'm giving a try to bit, and I'm using `bit sync` to `git pull`

Is there some option to show the git command being executes when i run `bit sync`

If not, it would be a nice feature to have. In case something goes wrong, you can be sure what was executed and google around to fix it.

[2020-10-15 16:54] chriswalz commented on #9
I'll look into it

[2020-10-15 21:17] chriswalz commented on #51
I'll take a look at it today or tomorrow. Thanks for helping out

[2020-10-16 02:58] chriswalz commented on #54
bit sync will output the results of the command that it runs but doesn't print what the  commands actually are. I'd like to add a debug mode at some point so it would make sense to as it as part of that

[2020-10-16 03:02] chriswalz commented on #52
Not to ask the obvious but does this work when you use git directly? I'd like to add a `--debug` mode which could possibly make debugging this like this easier.

Admittedly it's strange that this wouldn't work if it does work on git's end since bit is simply forwarding the command to git

[2020-10-16 04:07] #51 closed

[2020-10-16 12:22] hiukky commented on #52
Yes! work normally using git directly either via ssh or https.

As I said before I tested the bit with a cloned repository using https and it worked perfectly .. asked for a username and password and ran the checkout command.

I will try to use it today on my personal computer and see if I get the same behavior with repo cloned using ssh.

As I formatted the computer recently, I haven't yet stored

[2020-10-16 15:45] opensas commented on #54
yes that would be a grat enhacement

[2020-10-17 04:44] Therealchainman commented on #39
These are the results as someone new to Go.  I just installed Go 3 days ago.  I installed Go on WSL1 on Windows 10.   I was getting something with GOPATH is detected as GOROOT.  I fix this by emptying the GOPATH and adding directory {src,pkg,bin}.  After that that installation of bit was a success with Go Version 1.12 on WSL1.

[2020-10-17 04:44] #39 closed

[2020-10-17 04:46] chriswalz commented on #39
@Therealchainman Thanks for updating the issue. It will be useful to see how you did it in case anyone else runs into the same problem

[2020-10-17 19:37] mcarifio commented on #3
Working now:
[code]
An alias with "\n" will indeed cause problems.

[2020-10-18 02:06] chriswalz opened #55 "add --debug mode that displays significantly more information from behind the scenes"
This will be useful for debugging issues that are reported

[2020-10-19 06:44] patrickhener opened #57 "Display issue"
**Describe the bug**
Nothing is displayed at all. No dropdown and nothing

**To Reproduce**
Steps to reproduce the behavior:
bit <enter> <up> <down> <something>

**Expected behavior**
Show colorful dropdown

**Desktop (please complete the following information):**
 - OS: Arch linux 5.8.14-arch1-1
 - Terminal: gnome-terminal
 - Shell: zsh 5.8 (x86_64-pc-linux-gnu), oh-my-zsh, p10k

**Additional con

[2020-10-19 12:42] chriswalz commented on #57
You must type `bit` and then press <ENTER>

[2020-10-19 12:44] patrickhener commented on #57
Well I am really dump ^^ I tried it outside a git repository. So sorry for wasting your time.

[2020-10-19 12:44] #57 closed

[2020-10-19 12:48] chriswalz commented on #57
no worries. We're going to make this a bit more clear in the README

[2020-10-19 16:37] #54 closed

[2020-10-19 16:37] #55 closed

[2020-10-20 04:03] chriswalz commented on #40
@gensjaak

[2020-10-20 04:20] chriswalz commented on #9
I haven't gotten homebrew working yet.

However,  **you can now update** the cli using `bit update`. This command is available starting in `v0.7.5`

This alleviates most of the need for homebrew

[2020-10-20 04:39] HaleTom opened #59 "Integration-test output on zsh startup when using with zinit"
**Describe the bug**

Error or zsh load using `zinit` install instructions

**To Reproduce**

Add to `.zshrc`:
[code]

When starting `zsh` in a directory which is not a git repository, I see:

[code]

If starting `zsh` inside a git repository, it seems to run a `git status`:

[code]

**Expected behavior**

No output whatsoever

**Desktop (please complete the following information):**
 - OS: Manjar

[2020-10-20 06:35] edoreld opened #60 "runtime error"
**Describe the bug**
Error appears on running bit command

**To Reproduce**
Steps to reproduce the behavior:
1. Download Bit 0.7.5 on Mac with the curl instructions
2. Run bit

**Expected behavior**
bit runs with no error

**Screenshots**
<img width="518" alt="Screenshot 2020-10-20 at 08 33 41" src="https://user-images.githubusercontent.com/973854/96548984-212b6180-12af-11eb-8d40-c90ed7199808.png"

[2020-10-20 12:56] sbmueller commented on #30
As expected, my issue is resolved and originated from wrong usage.
@chriswalz kudos to the great support and high activity in this project!

[2020-10-20 13:07] chriswalz commented on #60
@edoreld Thanks, for filing this. This error occurs when running outside a git repo. You *should* be able to run `bit update` which upgrade you to `v0.7.7` which fixes this issue :)

[2020-10-20 13:09] chriswalz commented on #30
@sbmueller what was wrong about the your usage. I can clarify that in the readme in case others have the same problem

[2020-10-20 13:22] edoreld commented on #60
Thanks, updating fixed it.

[2020-10-20 13:22] #60 closed

[2020-10-20 15:58] sbmueller commented on #30
@chriswalz I assumed typing `bit ` would lead the autocompletion menu to pop up, however I need to execute the `bit` command (basically press enter additionally) to start the program and get the autocompletion menu.

[2020-10-20 16:09] chris-aeviator commented on #30
I assumed the same - can confirm I see autocomplete menu also when going the `bit <Enter>` route.

Is there any way of making this work on `bit <Tab>` ? It's a bit of a pain to run a command twice I'll use 40 times a day.

[2020-10-20 16:39] chriswalz commented on #30
@chris-aeviator I'm not sure what you mean by having to run the a command twice as much. Using <Enter> instead of <Tab> doesn't result in more button presses.

Also note you can always run commands normally with classical tab completion i.e. `bit checkout <branch-name>`

In terms of replacing <Enter> with <TAB> . Not sure if that's possible as of yet

[2020-10-21 09:59] gensjaak commented on #40
We could have in this list `commit -am -with-emoji "...`

<img width="1185" alt="Screenshot 2020-10-21 at 11 50 42 AM" src="https://user-images.githubusercontent.com/17094432/96703895-ae47e680-1393-11eb-8f21-b2ed8282598f.png">

...and it would have a sublist with emojis like this in the CLI
<img width="591" alt="Screenshot 2020-10-21 at 11 53 55 AM" src="https://user-images.githubusercontent.com/1

[2020-10-23 16:27] chriswalz commented on #52
@hiukky I haven't gotten around to investigating this issue but i added `bit --debug`. In your case you could run `bit checkout <branch> --debug`

[2020-10-26 13:46] hiukky commented on #52
@chriswalz reveal the delay in responding. I tested it again using the --debug flag and got this output. I didn't see any errors ... apparently everything is normal ... but I will continue doing some tests.

Follow the link debug co test.
[![Bit Debug](https://asciinema.org/a/367979.svg)](https://asciinema.org/a/367979)

About the bit I will test this .. interesting feature..

[2020-10-26 19:18] crunchtime-ali commented on #9
Here you go https://github.com/Homebrew/homebrew-core/pull/63508
I would like a better test-case though as this one is basically just testing git functionality.

@chriswalz One its merged I will add a pull request to your homebrew tap adding a tap migration.

[2020-10-26 21:27] Hultner opened #62 "Doesn't work very well with light color scheme"
**Describe the bug**
A clear and concise description of what the bug is.
Text is almost unreadable or completely unreadable in a dozen or so different light color schemes from the popular base16 framework for terminal/syntax colours. Tried a dozen or so light color-schemes and only one were somewhat readable.

**To Reproduce**
Steps to reproduce the behavior:
1. Pick a color scheme such as base16_

[2020-10-27 04:27] undefined-moe commented on #50
also tested in mobaxterm personal version 12.3 + bit 0.8.1

![image](https://user-images.githubusercontent.com/29992205/97257005-979c0680-184f-11eb-99e9-51c6f0e683dc.png)

[2020-10-27 13:40] chriswalz commented on #9
@crunchtime-ali thanks again.

to install, use `brew install bit-git`

[2020-10-27 14:41] crunchtime-ali commented on #9
@chriswalz You're welcome. Bit is a cool tool I demonstrated yesterday in a Kubernetes workshop. It is helpful for people getting to grips with git's CLI.

Regarding https://github.com/chriswalz/homebrew-bit. You can migrate taps (e.g. for your personal tap to homebrew-core) by adding a file called `tap_migrations.json` to your tap (here is an example https://github.com/argoproj/homebrew-tap/blob/

[2020-10-27 15:24] imcvampire commented on #9
Hi all,

After trying the new tap, I found a problem. We have a conflict with a program named `bit`

[code]

[2020-10-27 17:26] chriswalz commented on #9
@crunchtime-ali Thanks for the call out – I've archived the project and deleted the brew section from `goreleaser`

Formula page for the curious
https://formulae.brew.sh/formula/bit-git

### Resolving bit name conflict
As for @imcvampire that's unfortunate to see the name conflict. There's probably a work around that can be implemented as part of homebrew (maybe @crunchtime-ali  would know) howeve

[2020-10-28 02:05] chriswalz commented on #62
@Hultner Thanks for filing this issue. Agreed that bit can be difficult to read in some contexts. Currently, I'd like to avoid config files if possible.

One option is to have "absolute" colors that don't change due to the background however AFAIK that's not possible with https://github.com/c-bata/go-prompt.

Another option is to have two themes a light & dark them that changes based on the termin

[2020-10-28 02:13] #9 closed

[2020-10-28 02:28] #49 closed

[2020-10-28 02:40] chriswalz opened #64 "feature: bit undo (or bit fix)"
potential api example
[code]

[2020-10-28 02:42] chriswalz opened #65 "bit save -except <file-names> (bit save -e)"

[2020-10-28 02:43] chriswalz opened #66 "Combine bit & bitcomplete into one binary. This would simplify installation including homebrew"

[2020-10-28 07:32] Hultner commented on #62
A popular tool with "pretty" syntax that handles this quite nicely is bat[1], they use a $BAT_THEME environment variable which in my opinion is much nicer than a configuration file. They also have built in support of base16.

I'm not very familiar with go but a quick search turned up [this library](https://pkg.go.dev/github.com/belak/base16-builder-go), might not be useful but I'll leave it here a

[2020-10-28 09:40] memphisnubia opened #67 "Make 'bit clone' work from outside a git repository"
**Describe the bug**
Can't run `bit clone ` outside of a git repository

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to an empty folder
2. Run `bit clone`
3. See error

**Expected behavior**
bit clone runs git clone

[2020-10-28 11:37] crunchtime-ali commented on #9
@imcvampire Besides using `brew unlink/link` every time you need the other application there is AFAIK no way to properly handle this with Homebrew. You are probably better off installing one of them manually as @chriswalz suggested.

[2020-10-29 02:00] chriswalz commented on #62
I've added an experimental "inverted" theme. To enable set your env variable:

`BIT_THEME=inverted`

[2020-10-29 02:02] #67 closed

[2020-10-29 02:42] chriswalz commented on #33
@mhogerheijde do you have a recommendation on how to determine the default `remote` name. For example, I could run `git remote -v` and then simply pick the first line which would get _a_ upstream but not necessarily the right one in your case when there are multiple remotes

[code]

[2020-10-29 03:18] chriswalz commented on #26
@jyn514 There's `git merge --squash` that I believe affectively does the same thing

[2020-10-29 03:23] jyn514 commented on #26
@chriswalz that's not quite the same thing - `git merge --squash branch` takes the changes from `branch` and applies them to the index without committing. But that's not at all the same as rebasing, which puts your _current_ state on top of the changes from `branch`, keeping the history. Or in other words, `merge --squash` squashes the changes from `branch`, but `rebase -i` squashes the changes in

[2020-10-29 03:31] chriswalz commented on #26
Ah so it's a matter of merge vs. rebasing. It's strange how git provides one but not the other but I guess that's what bit is for 😛.

Some potential commands could be `bit rebase --squash`, `bit rebase -i --squash` or simply `bit squash` as requested.

[2020-10-29 03:33] jyn514 commented on #26
`git rebase --squash` sounds good to me :)

[2020-10-29 04:09] chriswalz commented on #40
@gensjaak could you provide me a list of all the gitmoji options. I was hoping to see a list somewhere on the github repo but didn't see one.

Here's a PoC. Note `bit gitmoji` is used but I'm still considering the interface example you had provided
![image](https://user-images.githubusercontent.com/6971318/97524323-c1058100-197a-11eb-95be-8db59a273e3f.png)

[2020-10-29 07:57] Hultner commented on #62
Is this released yet? it still looks just as bad on bit v0.8.2
<img width="678" alt="image" src="https://user-images.githubusercontent.com/2669034/97541024-c091d800-19c4-11eb-83a2-0fd240eca9df.png">

[2020-10-29 08:42] gensjaak commented on #40
@chriswalz you can find a perfect list here from [carloscuesta](https://github.com/carloscuesta) repos
List of emojis: https://github.com/carloscuesta/gitmoji/blob/master/src/data/gitmojis.json

[2020-10-29 10:16] mhogerheijde commented on #33
Hmm, I'd say that if there is an ambiguity that `bit` should ask the user. I think `git` also does this with multiple remotes.

In my case specifically, I have 1 remote called `upstream`. So I'd say pick one automatically if it is not ambiguous, and ask the user otherwise?

Not that the ambiguity could also be solved by the `.git/config` file where it states the `remote` for the current branch. Th

[2020-10-29 10:25] mhogerheijde commented on #33
Ah, right, I just double checked: if no section exists for the current branch like this:

[code]

`git` will complain about not having any information on where to push to/pull from.
I usually don't notice, because I generally try to be explicit and would type `git pull upstream master` and thus `git` has all the context it needs.

`bit sync`, however, doesn't allow to specify the remote. That is,

[2020-10-29 14:26] edoreld opened #70 "Autocomplete `bit push --force-w` with `bit push --force-with-lease` instead of `bit push --force-with-lease=<refname>`"
**Describe the bug**
`bit push --force-w` autocompletes to `bit push --force-with-lease=<refname>` instead of `bit push --force-with-lease`

**To Reproduce**
Steps to reproduce the behavior:
1. Type `bit push --force-w` on the terminal
2. Press Tab
3. See `bit push --force-with-lease=<refname>`

**Expected behavior**
Should see --force-with-lease

[2020-10-29 17:33] chriswalz commented on #62
![image](https://user-images.githubusercontent.com/6971318/97610290-111c2c00-19eb-11eb-80d8-3862738427ca.png)

![image](https://user-images.githubusercontent.com/6971318/97610371-27c28300-19eb-11eb-8cf9-e8ead8005dcd.png)

![image](https://user-images.githubusercontent.com/6971318/97610430-3a3cbc80-19eb-11eb-86dd-ea99ee0bd3af.png)

![image](https://user-images.githubusercontent.com/6971318/97610471

[2020-10-29 17:36] chriswalz commented on #62
I guess on your end it's the "Selected" color that is problematic. It's possible some colors aren't getting set

[2020-10-29 17:40] chriswalz commented on #33
@mhogerheijde Cool, that helps. In version 0.9.0 you'll be able to specify remote and branch via `bit sync <upstream> <branch>`!

[2020-10-29 18:18] Hultner commented on #62
I've never coded go but I might be able to give it a go and see if I can create something reasonable looking if the build tool chain is easy/fast to set up.

[2020-10-29 18:59] chriswalz commented on #62
Yes, definitely take a look. Look for the function `SuggestionPrompt(` in `util.go`.

Once you clone or fork the repo & install go. run `BIT_THEME=inverted go run main.go`

[2020-10-29 20:25] Hultner commented on #62
@chriswalz I gave it a _go_ (some _Go_thenburg humour right there), I made two themes to compare, I think it might turn out better this way since it's not always the same theme that works everywhere. Anyway here's a first screenshot. I took them with night shift on at first so I'm redoing the other colour themes without to give a good picture of how it looks.

![Uploading Screenshot 2020-10-29 at

[2020-10-29 20:35] Hultner commented on #62
Okay here's a full load of screenshots, I didn't test everything but at least of these two additional themes is readable on every combination I've tried, a good dozen of teams seems reasonable.

<img width="2560" alt="Screenshot 2020-10-29 at 21 23 42" src="https://user-images.githubusercontent.com/2669034/97629441-66c5f800-1a2e-11eb-9d6b-84b40a0fa6cc.png">,
<img width="2560" alt="Screenshot 2020-

[2020-10-29 20:38] Hultner commented on #62
@chriswalz Added a PR #71

[2020-10-30 01:28] #70 closed

[2020-10-30 02:14] #66 closed

[2020-10-30 02:22] #62 closed

[2020-10-30 03:39] #15 closed

[2020-10-30 04:35] #47 closed

[2020-10-30 04:39] chriswalz commented on #33
This is fixed with 2e0a6056c70f026587a09eea3f21317b70f2ee2b & c66f14628ecbf064e3426d1d2121829f50a07c52 as of `v0.9.1`. Please reopen if you have any problems

[2020-10-30 04:39] #33 closed

[2020-10-30 12:59] mhogerheijde commented on #33
Seems to work :+1: thanks!

[2020-10-30 19:08] yermulnik opened #74 "Add a way to get version of installed `bit` instance"
**Describe the bug**
There's not way to get the version of already installed `bit` instance.

**To Reproduce**
Install `bit`

**Expected behavior**
There is a command line argument to query `bit` instance for its version. Argument should not interfere with `git` CLI and shouldn't be passed on to it.

**Desktop (please complete the following information):**
 - OS: macOS Catalina 10.15.6 x86_64
 - T

[2020-10-30 19:11] yermulnik opened #75 "Trailing newline is missing from `bit update` output"
**Describe the bug**
`bit update` doesn't put a trailing newline to outputted message when completes the update.

**To Reproduce**
Run `bit update` and watch its output.

**Expected behavior**
Newline is put at the end of `bit update` command output.

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: macOS Catalina 10.15.6 x86_64
 - Terminal: iTerm2 3.3.12
 -

[2020-10-30 19:18] yermulnik opened #76 "`bit` doesn't detect whether it was installed via package manager"
**Describe the bug**
`bit` doesn't detect whether it was installed via package manager (`brew` in this case) and running `but update` just silently overwrites the symlink in `/usr/local/bin/`

**To Reproduce**
1. Run `bit update`
2. Check whether `/usr/local/bin/bit` is still a symlink

**Expected behavior**
`bit` detects it was installed via package manager (e.g. by checking some common location

[2020-10-30 19:20] yermulnik opened #77 "`bit update`: check whether update is needed"
**Describe the bug**
`bit update` doesn't check its version of the installed binary but re-downloads itself over again

**To Reproduce**
Run `bit update` and watch it updating from latest to latest version.

**Expected behavior**
`bit update` compares installed version to latest and downloads update only when needed.

**Screenshots**
[code]

**Desktop (please complete the following information):**

[2020-10-31 16:22] #75 closed

[2020-10-31 16:26] chriswalz commented on #74
This was possible with `bit --version` I added `bit version` well. They now show as suggestions

[2020-10-31 16:26] #74 closed

[2020-10-31 16:32] chriswalz commented on #77
This may be due to the symlink issue since bit update does/should check.

[2020-10-31 20:25] chriswalz commented on #77
This was a bug related to when versions are something without a "v" in SemVer

[2020-10-31 20:25] #77 closed

[2020-10-31 21:04] chriswalz commented on #76
@yermulnik This one was a bit hard to test but I added a symlink check. If bit is symlinked it will suggest brew upgrade

[2020-10-31 22:00] chriswalz commented on #1
![render1604181336183](https://user-images.githubusercontent.com/6971318/97790881-060bfc00-1ba3-11eb-88dd-04334831eecf.gif)

[2020-10-31 22:05] chriswalz commented on #1
![render1604181746484](https://user-images.githubusercontent.com/6971318/97790948-af52f200-1ba3-11eb-8b9e-a614e44da12c.gif)

[2020-10-31 22:24] chriswalz commented on #76
Please reopen if this doesn't work. Thanks for reporting it.

[2020-10-31 22:24] #76 closed

[2020-11-01 11:57] yermulnik commented on #75
@chriswalz Thank you!

[2020-11-01 11:59] yermulnik commented on #74
@chriswalz Thank you! I seem to think `bit version` showed me `git` version only previously.

[2020-11-01 12:01] yermulnik commented on #77
@chriswalz Thank you!

[2020-11-01 12:05] yermulnik commented on #76
@chriswalz Thank you

Yep, I do understand. Thanks for fixing for `brew` but I think there still will be an issue with other package managers where e.g. `apt` on Ubuntu and `pkg` on FreeBSD install `bit` into a `PATH` as binary but not as symlink.

[2020-11-01 12:06] yermulnik commented on #76
I'll re-open this issue if I have an idea on how to add a check for this kind of package managers.

[2020-11-02 07:23] Zalaxx opened #78 ""bit init" not working"
**Describe the bug**
When you try to init a git repo using bit (`bit init`), the command doesn't work because the directory doesn't have a .git.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter `bit init` on a non-git folder
2. It returns the message: "fatal: not a git repository (or any of the parent directories): .git"

**Expected behavior**
It should init the repo, as expected with a

[2020-11-02 15:45] #78 closed

[2020-11-02 15:49] Sirormy opened #79 "homebrew not found the formula"
Is need tap action beform installing?

[2020-11-02 16:04] chriswalz commented on #79
@Sirormy nope. It's part of `homebrew-core`. I just tested and it seems fine. Perhaps use the curl installation if you're having problems

[2020-11-02 20:36] macintacos opened #80 "Homebrew installation shows 0.9.10, `bit --version` shows 0.8.0"
**Describe the bug**
I reinstalled the `bit-git` homebrew formula twice now, and am still getting the same results:

[code]

I do see that [there's a comment in `main.go`](https://github.com/chriswalz/bit/blob/master/main.go#L26-L27) saying that "v0.8.0" should be overwritten at compile time - is this just an issue with the homebrew installation then? I just want to make sure I have the most recen

[2020-11-02 20:38] einsteinx2 commented on #79
@chriswalz I can confirm I'm seeing the same issue (I'm on the latest Catalina 10.15.7) with updated Homebrew:

[code]

[2020-11-02 20:57] chriswalz commented on #79
@einsteinx2 Very interesting, thanks for the update. @Sirormy let us know if @einsteinx2's solution works

[2020-11-02 21:04] chriswalz commented on #80
@macintacos hmm I believe you're right.

in https://github.com/Homebrew/homebrew-core/blob/master/Formula/bit-git.rb

`system "go", "build", *std_go_args`

should be something like

`system "go", "build", *std_go_args`-ldflags "-X main.version=0.9.10"

[2020-11-02 21:06] chriswalz commented on #80
@crunchtime-ali do you know? 🙏 I'm a ruby noob

[2020-11-02 21:08] crunchtime-ali commented on #80
I will have a look at it tomorrow. I am also quite inexperienced with Ruby. I would prefer rewriting Homebrew in Golang or Rust but psst... don't tell anyone :)

[2020-11-02 21:20] macintacos commented on #80
For the time being, just to clarify - I _am_ running the latest, correct? It's just an issue with how the version number is calculated when pushing a new version to Homebrew or what have you?

[2020-11-02 21:25] chriswalz commented on #80
@macintacos yep you're good. I'm confident based on this section: https://homebrew.bintray.com/bottles/bit-git-0.9.10.catalina.bottle.tar.gz

[2020-11-03 03:42] nitin88 commented on #30
I am actually facing the same issue. Not sure what worked for others.
Just installed it and ran `bit completion && bit` and post that I don't see any tab completions appearing

[2020-11-03 03:49] chriswalz commented on #30
@nitin88 run `bit complete && bit;`

[2020-11-03 05:35] nitin88 commented on #30
I did, still didn't work for me.
I had to reload `~/.zshrc` to make it work.

[2020-11-03 07:19] Sirormy commented on #79
@chriswalz @einsteinx2 Thanks for answering, I found my homebrew not worked well, I just reinstalling that, and now it worked 😄

[2020-11-03 08:35] #79 closed

[2020-11-03 10:15] moon2l opened #82 "`conventional commits` feature is good idea"

[2020-11-03 13:56] #30 closed

[2020-11-03 15:50] CyberJack opened #84 "bit info: regex used in sed command fails on macOS"
**Describe the bug**
When the `bit info` command is run on a macOS, the regex used to fetch the status of submodules fails

[code]

The problem is that `sed` on macOS does not understand the `{,2}` quantifier. It must be changed to `{0,2}`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install on macOS
2. go to a git repository
3. run `bit info`

**Expected behavior**
When no submodules ar

[2020-11-03 15:52] CyberJack commented on #84
The pull request is merged already. Thanks.
I will close the ticket.

[2020-11-03 15:52] #84 closed

[2020-11-03 22:03] chriswalz opened #85 "Feature: when naked "bit" is used run, add full command to history"

[2020-11-03 22:04] chriswalz opened #86 "feature: bit config recommendations"
Offer opinionated git config recommendations that simplify a user's workflow

[2020-11-04 05:30] chriswalz opened #87 "Feature request: integration Git Town"
https://github.com/git-town/git-town#commands

[2020-11-04 08:09] karlosp commented on #50
I have the same issue

bit version v0.9.10
git version 2.9.3

bash --version
GNU bash, version 4.2.46(2)-release (x86_64-redhat-linux-gnu)

![image text](https://i.imgur.com/NDYG0fW.png)

[2020-11-04 17:06] chriswalz commented on #80
@crunchtime-ali did you around to looking at this. I'm pretty confident it's a one line fix similar to this `go build -ldflags "-X main.version=EXAMPLE.VERSION" main.go`

[2020-11-05 09:23] crunchtime-ali commented on #80
Sorry, I didn't. I am a little swamped by working currently. Specifying the version manually will likely be the fix. I will get around to do it no later than Saturday and will also take a look at the other issues regarding the `brew` formula.

[2020-11-06 16:14] joe-getcouragenow opened #88 "feature: open command"
after doing a push to my fork to create a PR, i normally open the URL to it.

I have all this as a makefile include.

So i was wondering if you can add a "push and open" ?

[2020-11-06 16:20] joe-getcouragenow opened #89 "setup fork command"
when a developer clones their fork, the first thing they do is setup the config.

it can be automated with "git remote add upstream git@$(GITR_SERVER)-$(GITR_USER):$(GITR_ORG_UPSTREAM)/$(GITR_REPO_NAME)"

this presumes that your using ssh .

wondering if you think its a good idea to add... ?

[2020-11-07 01:47] chriswalz commented on #88
Can you walk me through the commands that you run? And also what you would like the `bit` command to look like?

E.g.

## Current Workflow

...

## Proposed Bit Open Workflow

..

[2020-11-07 01:50] chriswalz commented on #89
This sounds useful but since I don't clone/fork very often I don't quite understand. Similar to the previous issue can you please write the "Current Workflow" and the "Proposed Workflow"

[2020-11-08 17:42] Hultner opened #91 "bit crash on macOS"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Start bit
2. Jump around between completeions with arrow keys, quickly
3. Sudden crash
4. See error in stack trace

**Expected behavior**
No crash.

**Screenshots**
If applicable, add screenshots to help explain your problem.
N/A, See stack trace.

**Desktop (please comple

[2020-11-08 21:08] crunchtime-ali commented on #80
@chriswalz @macintacos Sorry, it took a bit longer than expected.
I just submitted a PR here https://github.com/Homebrew/homebrew-core/pull/64390

[2020-11-08 21:46] chriswalz commented on #80
Great, thank you!

[2020-11-09 03:52] chriswalz commented on #91
PR on go-prompt https://github.com/c-bata/go-prompt/pull/211

[2020-11-09 04:12] #80 closed

[2020-11-09 04:17] chriswalz commented on #50
I believe this issue is related: https://github.com/c-bata/go-prompt/issues/209

[2020-11-13 02:36] chriswalz opened #92 "Feature: add intellij and vscode integration?"

[2020-11-13 23:52] chriswalz commented on #40
@gensjaak I merge a pre-alpha version for gitmoji `bit gitmoji`I It's not very elegant to use since you select a description and then bit does a find and replace to get the respective emoji.

The reason I set it up this way is because `go-prompt` has a bug related to emoji as seen here: https://github.com/c-bata/go-prompt/issues/209

[2020-11-23 14:45] MrGreenTea opened #93 "Completions crash in fish"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. open `fish`
2. `bit complete`
3. check `~/.config/fish/completions/bit.fish`
4. type `bit <TAB>`
5. wait and hit `Ctrl+C`
6. get something like this

[code]

**Expected behavior**
Get an overview/completion of all `bit` commands

**Desktop (please complete the following in

[2020-11-26 07:28] liangshb opened #94 "Extra space before committed message using 'bit save "commit message"'"
**Describe the bug**
Extra space before committed message using 'bit save "commit message"'

**To Reproduce**
Steps to reproduce the behavior:
1. modify something
2. bit save "commit message"
3. git log --oneline
4. See error

**Screenshots**
![Snipaste_2020-11-26_15-24-43](https://user-images.githubusercontent.com/29915175/100320114-a4c82480-2fb8-11eb-9f8e-977f9a07f82f.png)
![Snipaste_2020-11-26_

[2021-01-19 12:32] aditya520 commented on #94
I can't reproduce it on Ubuntu 18.04

[2021-02-03 03:45] liangshb commented on #94
![image](https://user-images.githubusercontent.com/29915175/106695241-28d00580-6615-11eb-81d9-320343857adc.png)
I reproduced it on UOS 20

[2021-02-03 03:56] chriswalz commented on #94
I've been working on adding significantly more suggestions for lesser used commands so I haven't gotten around to this.

I hope to resolve this soon assuming I can replicate it

[2021-02-03 04:49] chriswalz commented on #94
@liangshb please run `bit update` to update to version 0.9.12. Let me know if this is fixed

[2021-02-03 05:05] liangshb commented on #94
![image](https://user-images.githubusercontent.com/29915175/106700769-7a31c200-6620-11eb-8d17-157a6d88f492.png)

Problem solved, thanks

[2021-02-03 05:43] chriswalz commented on #94
Great!

[2021-02-03 05:43] #94 closed

[2021-02-05 07:01] owarai commented on #93
Is this work for you? https://github.com/chriswalz/bit/issues/3#issuecomment-707170078.

[2021-02-05 14:30] MrGreenTea commented on #93
Yes after `set -Ux COMP_POINT 1` it seems to work perfectly.

[2021-02-16 00:32] ryanpcmcquen opened #96 "Feature request: Completion for nushell?"
Thank you for `bit`! I love it and use it all the time.

Wondering if you could add completion for `nushell`?
https://www.nushell.sh/

[2021-02-16 01:19] #91 closed

[2021-02-16 01:21] chriswalz commented on #96
I very much appreciate that. You'll need to request it on this project: https://github.com/c-bata/go-prompt

[2021-02-20 03:16] #88 closed

[2021-02-20 03:17] chriswalz commented on #88
Closing this until there's a response

[2021-02-20 15:35] ostrolucky opened #98 "feature: Integrate git-plus"
Similarly as you have integrated git-extras, you could also integrate [git-plus](https://github.com/tkrajina/git-plus). I would be especially interested in `git multi` command, so that I could eg. sync all the projects in a folder recursively.

[2021-02-20 15:51] Gys opened #99 "fatal: not a git repository (or any of the parent directories): .git"
**Describe the bug**

I am in a directory with a .git folder but get:
`fatal: not a git repository (or any of the parent directories): .git`

**To Reproduce**

Steps to reproduce the behavior:
1. MacOS Big Sur 11.2.1, iTerm2 3.4.4, Bash 3.2.57(1)-release
2. `brew install bit-git`
3. `bit complete` answered `y`
4. `bit` <return> gives the error
5. `ls .git` gives contents of git folder

[2021-02-20 21:25] karx1 commented on #99
You need to be inside a git repository directory for git (and by extention bit) can do anything.

[2021-02-21 09:20] Gys commented on #99
@karx1: I am. Is that not clear from my description? I mention twice that I am doing all this inside a folder with a .git subfolder, so effectively inside a repository.

[2021-02-23 02:25] imranansari commented on #99
Updating git worked for me

[code]

[2021-02-24 19:38] mdodell commented on #99
This also happened to me. Currently on macOS Catalina, 10.15.7. I tried installing with both the shell script and with Homebrew.

My specs:
[code]

I am currently in a Git folder:
[code]

[2021-02-27 11:28] lepinkainen commented on #93
"Me-tooing" this. Had the exact same error as in #3 setting COMP_POINT fixed it.

[2021-02-28 19:45] travigd opened #101 "Runtime error on `bit release bump` when no tags"
**Describe the bug**
I ran into this on accident (running the command in the wrong repo), but would be better to fail more gracefully.

[code]
I **think** this happens because that repo has no tags. Arguably, it should error, but should be a human readable error message.

[2021-03-01 08:38] philipodev opened #102 "bit save: "EOF found when expecting closing quote" while typing"
**Describe the bug**
`bit save "9:32AM ERR Users/chris/go/src/github.com/chriswalz/bit/cmd/bit_cmd.go:86 >  error="EOF found when expecting closing quote"`
when typing after the first QUOTE-mark in `bit save`

**To Reproduce**
Steps to reproduce the behavior:
1. run `bit`
2. type `bit save "`
3. now everything you type after starting quote should throw this error.

**Expected behavior**
should pro

[2021-03-01 09:27] alexcg1 commented on #52
Just dropping a comment to say I'm facing the same issue.

- OS: Manjaro (based on Arch)
- Shell: zsh
- Terminal: kitty (running tmux). Tested on plain old xterm too and same issue arises

[2021-03-01 22:22] #101 closed

[2021-03-01 22:22] #102 closed

[2021-03-01 22:31] #99 closed

[2021-03-01 22:34] chriswalz commented on #99
This issue should now be fixed in version v1.0.2. Please let me know if you're stilling having problems. Also, consider donating if you're enjoying using Bit :)

[2021-03-01 22:35] chriswalz commented on #101
This issue should is now fixed in version v1.0.2. Please let me know if you're still having problems. Also, consider donating if you're enjoying using Bit :)

[2021-03-01 22:36] chriswalz commented on #102
This issue is now fixed in version v1.0.2. Please let me know if you're still having problems. Also, consider donating if you're enjoying using Bit :)

[2021-03-02 00:42] kad3nce opened #103 "Feature Request: Fuzzy matching on branch names"
When auto-completing branch names, I would find it useful if I could type `04` to narrow down to e.g. `RC-2021.04.0`.

[2021-03-02 02:06] #103 closed

[2021-03-02 02:11] chriswalz commented on #103
@kad3nce Thanks for pointing to this out. Please run `bit update`. `bit version` should return version `1.0.3`

Let me know if it's working. Please consider donating if you're enjoying use Bit!

[2021-03-02 20:59] kad3nce commented on #103
Working great! Thanks, @chriswalz. Just started using `bit` yesterday. Replaced my `g=git` alias with `g=bit`. Excited to see how it feels to use this instead.

![image](https://user-images.githubusercontent.com/556/109714276-0f0fd880-7b57-11eb-8f43-389b7bb92e91.png)

[2021-03-02 21:03] chriswalz commented on #103
Glad to hear it. Enjoy!

[2021-03-19 05:02] mehdi-khan opened #106 "feature: Keep the prompt running"
bit quits after each command. Is there any option to keep the bit prompt running, like https://github.com/c-bata/kube-prompt? That'd prevent typing bit every time I want to interact with git.

[2021-03-21 03:43] herbygillot commented on #89
Say I click the **Fork** button on your `bit` repo here on Github.com.  It will create a new forked repo, `herbygillot/bit`.

If I clone that down to my machine to hack on, then the `origin` remote destination will automatically be pointing to `herbygillot/bit`.

If I push any code changes, they'll go to my forked repo by default.

But since main development is happening in the original repo, `chr

[2021-03-31 06:58] ziyouchutuwenwu opened #107 "keyboard enter not work when i use bit"
under repo dir

first
![1](https://user-images.githubusercontent.com/7458713/113103025-5ad6a000-9231-11eb-8a32-400edad26509.png)

then

![2](https://user-images.githubusercontent.com/7458713/113103070-688c2580-9231-11eb-9833-33ae67b02e6c.png)

enter will be displayed as ^M

CTRL+C displayed as ^C

![3](https://user-images.githubusercontent.com/7458713/113103164-80fc4000-9231-11eb-8215-92663ace1c94

[2021-03-31 07:02] ziyouchutuwenwu opened #108 "keyboard has no response"
in any repo
![1](https://user-images.githubusercontent.com/7458713/113103537-f8ca6a80-9231-11eb-9dd3-f7c3133da44b.png)
please select manually, do not type 'bit push'

![2](https://user-images.githubusercontent.com/7458713/113103587-08e24a00-9232-11eb-82e1-b6bed93e69af.png)
keyboard seems to be blocked.

[2021-04-01 00:03] chriswalz commented on #108
Hello, what version bit are you using `bit version`

[2021-04-01 00:04] chriswalz commented on #106
yes I can add this

[2021-04-01 01:36] ziyouchutuwenwu commented on #108
[code]

[2021-04-01 01:38] ziyouchutuwenwu commented on #107
bit version

[code]

[2021-04-01 02:02] chriswalz commented on #108
hmm okay can you run `bit update` and let me know if it still doesn't work. This *might have* been fixed in a newer version

[2021-04-02 08:55] ziyouchutuwenwu commented on #108
yes, it's ok now, great thanks to your hark work!

[2021-04-02 08:55] #108 closed

[2021-04-02 08:57] #107 closed

[2021-04-08 10:47] TJuberg commented on #59
Looks to be a typo in the install instructions

`zinit ice lucit wait"0" as"program" from"gh-r" pick"bit"`
`zinit light "chriswalz/bit"`

Should likely be
`zinit ice lucid wait"0" as"program" from"gh-r" pick"bit"`
`zinit light "chriswalz/bit"`

https://github.com/zdharma/zinit#plugin-output
lucit is not a valid ice modifier

[2021-04-15 03:45] chriswalz commented on #106
closed via 5efae26

[2021-04-15 03:45] #106 closed

[2021-04-21 23:20] qdm12 opened #109 "Auto completion on zsh does not seem to work (Docker)"
**Describe the bug**: Auto completion does not seem to work when pressing tab

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

Complete `bit st` to `bit status`

**Desktop (please complete the following information):**
 - OS: Alpine container (on Windows host)
 - Terminal: VSCode integrated terminal
 - Shell: Zsh

🙏 forgive me if I'm missing something completely o

[2021-04-21 23:47] qdm12 commented on #109
Working by adding `source ~/.zshrc` sorry about that! Should `bit complete` perhaps also source the file it installed its completions in to avoid this issue in the future? 🤔

[2021-04-22 00:56] chriswalz commented on #109
Perhaps it should :). Yes feel free to make a PR

[2021-04-22 02:47] qdm12 commented on #109
Great thanks!

Actually you can use `echo "y" | bit complete` to make it install completions without assistance, but I'll try to do a PR to add a flag to that command 😉

[2021-04-22 02:47] #109 closed

[2021-05-14 08:58] MrGreenTea commented on #93
setting `COMP_POINT` to 1 has other weird behaviour for me, where it only shows subcommands starting with `b` and also showing subcommands that do not exist.

setting `COMP_POINT` to `4` at least gets me all subcommands.

[2021-05-21 01:38] c0state commented on #93
Not super familiar with all this but using `set -lx COMP_POINT (commandline -C)` seemed to fix this issue for me. For reference, https://github.com/kubernetes-sigs/kustomize/issues/2561#issue-629197812

[2021-06-23 10:29] ianrobrien opened #110 "Alias for git switch does not open branch selector"
**Describe the bug**
I have two git aliases set in my `gitconfg`:

[code]

When I type `bit co` and hit enter, I am able to select my branch.
When I type `bit checkout` and hit enter, I am able to select my branch.
When I type `bit switch` and hit enter, I am able to select my branch.

When I type `bit sw` and hit enter, I get `fatal: missing branch or commit argument`

**To Reproduce**
Steps to r

[2021-07-05 18:04] chriswalz commented on #110
fixed in c7879cd5b

[2021-07-05 18:05] chriswalz commented on #110
Consider donating here: https://github.com/sponsors/chriswalz :)

[2021-07-05 18:05] #110 closed

[2021-09-14 14:52] chriswalz opened #112 "Feature: add suggestions for "bit add""

[2021-10-02 05:50] rustiever commented on #64
Hi @chriswalz I'm budding gopher, can you elaborate this issue, I want to give it a shot

[2021-10-02 16:43] chriswalz commented on #64
Hey maybe start off with

bit fix undo-commit

This would mean you'd do a soft reset of the commit only if it hasn't been pushed already

If (aheadOfRemoteBranch()) {

   git reset --soft HEAD~1

}

[2021-10-03 10:53] rustiever commented on #64
I think that slack channel in contributing.md file is broken

[2021-10-03 10:54] rustiever commented on #64
I should create new file fix.go in cmd folder for this issue??

[2021-10-04 04:35] rustiever opened #113 "subcommand info is not suggested when running bit command"
**Describe the bug**
when i run program there is no suggestion for info command

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. run ```go run main.go```
3. type "info"
4. See error

**Expected behavior**
info command suggestion must appear

**Screenshots**
https://user-images.githubusercontent.com/60929919/135794627-d9d7821f-b33a-4d32-bb7d-727d6e04c5ae.mp4

**Desktop (please co

[2021-10-04 19:38] sheldonhull commented on #82
I was just thinking of building something but didn't want to add more fragmentation here.
Bit would be a great place for supporting an option with conventional commits.

For a nice example of what I've found: https://github.com/SKalt/git-cc

@chriswalz  would you be up for a contribution to add `bit cc` or equivalent type of helper command that could prompt through a conventional commit layout and

[2021-10-04 19:41] sheldonhull commented on #87
Any tips on this @chriswalz? I would like to contribute improvements to "plugin" a few workflow oriented commands for folks, and knowing where it might fit would be really cool. In chats with Git Town there are some stable package commands that could be used directly, or the binary can be invoked to get a lot of the sync oriented workflow for short lived branches as well.

Any contribution guide w

[2021-10-05 00:42] chriswalz commented on #87
Hi @sheldonhull glad to see your support for bit.

Here are a couple of good example files to highlight how to add a new command (in this case `bit release`) :

Line 64 - notice `release` is specified as a sub command
https://github.com/chriswalz/bit/blob/559852d542575f2415a480059e587cd50078012b/main.go

The core functionality to make the release command resides here
https://github.com/chriswalz/b

[2021-10-05 00:47] chriswalz commented on #82
I think would be nice! Do you think could outline the usage of commands here (e.g. `bit cc <> does A, bit cc does B, etc..)

See my notes for getting started adding a command here
https://github.com/chriswalz/bit/issues/87#issuecomment-933966808

Regarding a config file I've been avoid that and leaning on ENV variables for now. We could hard code a config as a first pass and then fine a way to bes

[2021-10-05 19:23] sheldonhull commented on #82
Sweet!
The config would have to be an optional thing, but would probably be required because the conventional commit scopes are defined typically for a repo in it.
I was thinking of actually building the scope list from the git recent history so might be possible to do that, but would still be useful to have a predefined list for team members.

For the first go round, it could just be the standard

[2021-10-06 04:08] chriswalz commented on #82
Looks good to me. I think you should go for it! If you get stuck I'll be happy to help out!

[2021-10-08 02:58] #113 closed

[2021-10-08 05:12] rustiever commented on #112
Can you give me some more description, about this issue

[2021-10-09 03:48] chriswalz commented on #64
Hey don't be afraid to get your hands dirty and create a new branch. Yes create a file fix.go in cmd!

Check this for some additional guidance on adding a new bit command
https://github.com/chriswalz/bit/issues/87#issuecomment-933966808

[2021-10-09 03:49] rustiever commented on #64
Thanks@chriswalz

[2021-10-09 03:50] rustiever commented on #64
What about slack channel
Looks like a it's link is broken in contributing.md file

[2021-10-09 03:56] chriswalz commented on #64
Oh no that's a bummer. Does this link work

https://join.slack.com/t/bit-cli/shared_invite/zt-xaw5b2nk-pUEt1JyZgi~HDB6BBZQqkw

[2021-10-13 06:17] rverst commented on #93
If I add the line @c0state  suggested to the `bit.fish` completion script I get the full list of available commands. And it works with partial completions as well, e.g. typing `bit st` and then hitting tab.

But I miss the usual explanation of the commands:
<img width="893" alt="snip2" src="https://user-images.githubusercontent.com/8960898/137077489-43295320-7c5c-41f6-850c-49daa7bc125d.png">

vs:

[2021-10-29 11:35] Jassi10000-zz opened #117 "Request to add a github action"
This is an awesome and an engaging repository , plus due to hacktoberfest'21 many open source enthusiasts ( preferably students who are first time contributors ) open issues and PRs which eventually help repo to grow
I think there should be a github action to welcome contributors on their each issue and PR so as to make repository more interactive

If you love the idea , please assign this to me

[2022-02-04 15:05] nahojkap opened #119 "Mode to keep running bit after command has been executed"
I was looking for an option to bring the bit prompt back after command execution (e.g. bit > status <enter> brings you back to bit>) but I fail to see if this is supported?

If not, would be nice to have a sort of "bit" shell.

[2022-10-04 17:30] qascade commented on #64
If this issue is still open, may I take a look at this under hacktoberfest2022?

[2022-10-08 17:19] zeeke commented on #27
Hi, I think I reproduced this issue also with a basic go-prompt program.

In both ways (running bit and with adoc program) I can hit the problem only if I hold DOWN arrow button.

I'm not sure it's what @0cv experienced, but the root cause is that vscode sends two DOWN characters at once in [prompt.go](https://github.com/c-bata/go-prompt/blob/master/prompt.go#L278).

Just discovered adding logs:

[2022-10-13 16:59] digitalmaster opened #120 "Sort branches by recently used"
**Describe the bug**
Not sure if this is  a bug or rather a feature request. Would be useful if branches were sorted by recently used since it's most common for me to be switching between branches i've recently used.

**Expected behavior**
Just type `bit checkout` and press `enter`

**Screenshots**
<img width="230" alt="image" src="https://user-images.githubusercontent.com/1279335/195659093-a96dee

[2022-11-07 13:16] elder-n00b commented on #25
I noticed this can also easily result in a crash:
[code]
What I have done: "alt+right", "up", "down". But any other similar "troublesome" keypress will do.
I reproduce this in: Alacritty, Kitty, WezTerm, Foot (with or without `foot-terminfo` installed) and Linux console (using "alt+backspace"), with either bash or fish shell. I have not tried others.

In case it matters, I run the Sway WM (hence W